{% extends 'base.html'%}


{% block title %}Articulos{% endblock %}


{% block content %}

    <div>
        <span class="icon is-large">
            <a href="/articulos">
                <i class="fa fa-arrow-left"></i>
            </a>
        </span>
    </div>
    <br/>
<p class="title">{{ respuesta.descripcion }}</p>
<p class="subtitle"> Precio: {{ respuesta.precio }}</p>
<p class="subtitle"> Existencias actuales {{ respuesta.existencia }}</p>

    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>TipoMov</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in respuesta.movimientos %}
                {% url 'delete-movimiento' mov.articuloid mov.folio as borrar_movimiento %}
                <tr>
                    <td>{{ mov.folio }}</td>
                    <td>{{ mov.fecha }}</td>
                    <td>{{ mov.cantidad }}</td>
                    <td>{{ mov.tipoMov }}</td>
                    <td>
                        <span class="icon"> 
                            <a class="has-text-danger" href="{{ borrar_movimiento }}"> 
                                <i class="fas fa-trash"></i>
                            </a>
                        </span> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
