<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        <section class="hero">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-end">
                            <p>Test</p>
                        </div>
                    </div>
                </nav> 
            </div>
        </section>
        <div class="hero-body">
            <div class="container is-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <footer class="footer">
            <div class="hero-foot">
                <div class="container">
                    <div class="content has-text-centered">
                        <p><strong>REST-TEST</strong></p>
                    </div>
                </div>
            </div>
        </footer>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </body>
</html>
